{{> header}}
<form class="add" action="/add" method="post">

  Title: <input type="text" name="title" >
  Time: <input type="text" name="time" >
  <div id="ingredientList">
    {{#each ingredients}}
    <li>{{name}}<input type="checkbox" name="ingredients" value="{{id}}">Description<input type="text" name="description{{id}}" >Quantity<input type="text" name="quantity{{id}}"></li>
    {{/each}}

  </div>
  <div id="ingredients">
<br>Ingredients:<br><br>Name:  <br><input type="text" name="name">
  <br><br><input type="checkbox" name="gluten" value="">gluten free?<br><br>
  <input type="checkbox" name="dairy" value="">dairy free?<br><br>
  <input type="checkbox" name="meat" value="">meat free?<br><br>
  <button type="button" name="add" onclick ="">Add ingredient</button>

  </div>
    <br><br>Instructions:<br><textarea rows="4" cols="50" name="content"></textarea>
        <br><button type="submit" name="submit">Submit Recipe</button>
</form>
