

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="functions.js" charset="utf-8"></script>
<form class="add" action="/add" method="post">

{{> header}}
<form class="add" action="/add" method="post">


  Title: <input type="text" name="title" >
  Time: <input type="text" name="time" >
  <div id="ingredientList">
    {{#each ingredients}}
    <li>{{name}}<input type="checkbox" name="ingredients" value="{{id}}">Description<input type="text" name="description{{id}}" >Quantity<input type="text" name="quantity{{id}}"></li>
    {{/each}}

  </div>
  <div id="ingredients">
<br>Ingredients:<br><br>Name:  <br><input type="text"  id ="ingredientname" name="name">
  <br><br><input type="checkbox" id ="gluten" name="gluten" value="gluten">gluten free?<br><br>
  <input type="checkbox" name="dairy"  id = "dairy"value="dairy">dairy free?<br><br>
  <input type="checkbox" name="meat"  id ="meat" value="meat">meat free?<br><br>
  <button type="button" name="add" id ='button'onclick ="addIngredient()">Add ingredient</button>

  </div>

  Photo Url: <input type="text" name="photo" ><br>
  Recipe Description: <input type="text" name="description" >
    <br><br>Instructions:<br><textarea rows="4" cols="50" name="content"></textarea>
        <br><button type="submit" name="submit">Submit Recipe</button>
</form>
