<div class="title">
    <h1 class="maintitle">Recipe Book</h1>
</div>
<div class="subtitle">
    <h2 class="searchtitle">Search Results</h2>
</div>
<div class="mainresults">
    {{#each recipes}}
        <div class="result">
            <a href="recipe/{{id}}"
                <h4>{{title}}</h4>
                {{#if meat}}Vegetarian{{/if}}
                {{#if gluten}}Gluten Free{{/if}}
                {{#if dairy}}Dairy Free{{/if}}
                <p>{{description}}</p>
                {{photo}}
            </a>
        </div>
    {{/each}}
</div>
{{> footer}}
