* {
  /*border: thin solid black;*/

}

.starter-template{
  padding: 40px 15px;

}
.maintitle {
font-size: 6rem;
font-family: Montserrat;
text-align: center;
color: white;
}

.subtitle {
color: black;
}

.searchtitle {
  color: grey;
}
p {
  color: darkGrey;
}
.container {
  background: #cce6ff;
  text-align: center;
}
